/* .search-container{
  background-color: rgba(0, 0, 0, 0.918);
  text-align: center;
  line-height: 2;
}
.search-container input{
  width: 75%; 
} */
.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 3;
}

.product-container {
  border-right: 1px solid gray;
  margin-right: 5px;
  margin-left: 50px;
}

